{% extends 'base.html' %}
{% load staticfiles %}
{% load i18n %}
{% block title %} Email-Contact -{{ block.super }}{% endblock %}
{% block main %}
<h1>Share Post Form</h1>
<form method="post">
    {% csrf_token %}
    {{ form }}
    <div class="form-actions">
      <button type="submit" class="btn btn-primary pull-right btn-compose">Send</button>
    </div>
</form>
<style>form {
    width: 50%;
}input#id_from_email, input#id_subject, textarea#id_message {
    width: 100%;
    z-index: 100;
}</style>
{% endblock main %}